@if $compile-fancy {
	.nice-border {
		border: 2px solid transparent;
		border-image: url(data:image/gif;base64,#{$border-image-normal-default-b64}) 2 stretch;
		@if $border-use-smooth-scaling == true {
			image-rendering: smooth;
		} @else {
			image-rendering: pixelated;
		}
		&.inverted {
			border-image: url(data:image/gif;base64,#{$border-image-normal-inverted-b64}) 2 stretch;
		}
		&.thick {
			border-width: 4px;
			@if $border-image-save-space == false {
				&:not(.low-res) {
					border-image: url(data:image/gif;base64,#{$border-image-thick-default-b64}) 4 stretch;
					&.inverted {
						border-image: url(data:image/gif;base64,#{$border-image-thick-inverted-b64}) 4 stretch;
					}
				}
			}
		}
	}
}
