summary::-webkit-details-marker, summary::marker {
    // No longer seems to have any effect...
	display: none;
}

details > summary {
    list-style: none;
}

summary:after {
	background-color: $color-background-darken-2;
	width: 1em;
	float: left;
	
	// Just to be safe
	padding: 0;
	margin: 0;
	margin-right: 10px;
	
	text-align: center;
	color: $color-text-generic;
	font-weight: bold;
	
	content: "+";
}

details[open] summary:after {
	content: "-";
}
