
//https://www.colorhexa.com/607d8b
//$color-background-main: #607D8B;
$color-background-main: #566f7c;
$color-background-darken-1: #4b626d;
$color-background-darken-2: #41545e;
//$color-background-darken-3: #37474f;
//$color-background-darken-4: #2c3940;

$color-separator: #8eacbb;

$color-text-generic: #eeeeee;
$color-text-generic-invert: #111111;
//$color-text-generic: #ececec;
$color-text-generic-shadow: #1c313a;

$color-link-common: #bbdefb;

$color-progress-green: #5c7c55;

$link-margin-bracket: 5px;

$border-margin-bracket: 5px;
$border-margin-label: 5px;
//$border-margin-inputline: 5px;
